h1, h2, p, a {
    font-family: 'Castoro', serif;
}
body {
    padding-left: 20%;
    padding-right: 20%;
}
.page-title {
    text-align: center;
}
.nav-bar-container {
    text-align: center;
}
.nav-bar-link, .blog-post {
    color: black;
    text-decoration: none;
}
article {
    padding-left: 10%;
    padding-right: 10%;
}
.intro-pic {
    width: 100%;
    height: auto;
    border-radius: 55%;
    padding-top: 6%;
}
.about-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
#profile-logo-space {
    padding-left: 45%;
}
#github {
    width: 50px;
    height: auto;
}
#twitter {
    width: 50px;
    height: auto;
}
#home-container {
    width: 100%;
}
#home-container-left {
    float:left;
    width: 25%;
}
#home-container-right {
    float:right;
    width: 70%;
}
#about-container {
    width: 100%;
}
#about-container-left {
    float:left;
    width: 70%;
}
#about-container-right {
    float:right;
    width: 25%;
}
#blog-feed {
    padding-left: 20%;
    padding-right: 20%;
}
.feed-timestamp {
    color:	rgb(192, 192, 192);
}
@media only screen and (max-width: 900px) {
    body {
        padding-left: 0%;
        padding-right: 0%;
    }
    #blog-feed {
        padding-left: 5%;
        padding-right: 5%;
    }
  }